<a href="https://colab.research.google.com/github/Burra-Tarun-Kumar/ML_Training/blob/main/LABEL%26ONEHEARTENCODING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
data={
    "customer_id":[1,2,3,4],
    "gender":["F","M","M","F"],
    "age":[25,30,35,40],
    "subscription_status":["I","A","I","A"]
}
df=pd.DataFrame(data)
print("Original dat: ")
print(df)
label_encoder=LabelEncoder()
df['gender_encoded']=label_encoder.fit_transform(df['gender'])
df['subscription_status']=label_encoder.fit_transform(df['subscription_status'])
print("Encoded data: ")
print(df)

Original dat:
   customer_id gender  age subscription_status
0            1      F   25                   I
1            2      M   30                   A
2            3      M   35                   I
3            4      F   40                   A
Encoded data:
   customer_id gender  age  subscription_status  gender_encoded
0            1      F   25                    1               0
1            2      M   30                    0               1
2            3      M   35                    1               1
3            4      F   40                    0               0

In [4]:
import pandas as pd
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
data={
    "customer_id":[1,2,3,4],
    "gender":["F","M","M","F"],
    "city":["Hyderabad","Pune","Bangalore","Mumbai"],
}
df=pd.DataFrame(data)
print("Original data: ")
print(df)
one_hot_encoder=OneHotEncoder(sparse_output=False)
column_to_encoder=["gender","city"]
encoded_data=one_hot_encoder.fit_transform(df[column_to_encoder])
encoded_columns=one_hot_encoder.get_feature_names_out(column_to_encoder)
encoded_df=pd.DataFrame(encoded_data,columns=encoded_columns)
print(encoded_df)

Original data:
   customer_id gender       city
0            1      F  Hyderabad
1            2      M       Pune
2            3      M  Bangalore
3            4      F     Mumbai
   gender_F  gender_M  city_Bangalore  city_Hyderabad  city_Mumbai  city_Pune
0       1.0       0.0             0.0             1.0          0.0        0.0
1       0.0       1.0             0.0             0.0          0.0        1.0
2       0.0       1.0             1.0             0.0          0.0        0.0
3       1.0       0.0             0.0             0.0          1.0        0.0